@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.policy {
  @apply m-4
}

.policy h1 {
  @apply text-3xl mt-3 mb-3
}

.policy h2 {
  @apply text-xl mt-2 mb-3
}

.policy h3 {
  @apply text-lg mt-2 mb-3
}

.policy p {
  @apply ml-4
}

.about {
  @apply m-4
}

.about h1 {
  @apply text-center text-4xl pb-4
}

.about h2 {
  @apply text-2xl p-2
}

.about p {
  @apply indent-4 pl-8
}

.about ul {
  @apply list-disc ml-20
}